<div class="row">   
                    <div class="col-lg-12">
                    
<h1 class="page-header"><%= @companycontact.title %></h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <%= link_to "Админка", admin_path %>
                            </li>
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <%= link_to "Контакты", companycontacts_path %>
                            </li>
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <%= @companycontact.title %>
                            </li>
                        </ol>
<div class="row">
<div class="col-lg-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @companycontact.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @companycontact.slug %>
</p>

<p>
  <strong>Пункт меню:</strong>
  <%= @companycontact.punktmenu %>
</p>

<p>
  <strong>meta Description:</strong>
  <%= @companycontact.description %>
</p>

<p>
  <strong>meta Keywords:</strong>
  <%= @companycontact.keywords %>
</p>

<p>
  <strong>Картинка:</strong>
  <%= image_tag @companycontact.image %>
</p>

<p>
  <strong>Контент:</strong>
  <%= @companycontact.body %>
</p>

<%= link_to 'Изменить', edit_companycontact_path(@companycontact) %> |
<%= link_to 'Назад', companycontacts_path %>
</div></div></div></div>