<div class="row">   
                    <div class="col-lg-12">
                    
<h1 class="page-header"><%= @company.title %></h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <%= link_to "Админка", admin_path %>
                            </li>
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <%= link_to "О компании", posts_path %>
                            </li>
                        </ol>
<div class="row">
<div class="col-lg-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @company.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @company.slug %>
</p>

<p>
  <strong>Пункт меню:</strong>
  <%= @company.menupunkt %>
</p>

<p>
  <strong>meta Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>meta Keywords:</strong>
  <%= @company.keywords %>
</p>

<p>
  <strong>Картинка:</strong>
  <%= image_tag @company.image %>
</p>

<p>
  <strong>Контент:</strong>
  <%= @company.body %>
</p>

<%= link_to 'Изменить', edit_company_path(@company) %> |
<%= link_to 'Назад', companies_path %>
</div></div></div></div>