<div class="row">   
                    <div class="col-lg-12">
                    
<h1 class="page-header"><%= @main.title %></h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <%= link_to "Админка", admin_path %>
                            </li>
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <%= @main.title %>
                            </li>
                        </ol>
<div class="row">
<div class="col-lg-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @main.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @main.slug %>
</p>

<p>
  <strong>Пункт меню:</strong>
  <%= @main.menupunkt %>
</p>

<p>
  <strong>Картинка:</strong>
  <%= @main.imageattachment %>
</p>

<p>
  <strong>Контент:</strong>
  <%= @main.body %>
</p>

<p>
  <strong>meta Description:</strong>
  <%= @main.description %>
</p>

<p>
  <strong>meta Keywords:</strong>
  <%= @main.keywords %>
</p>

<%= link_to 'Изменить', edit_main_path(@main) %> |
<%= link_to 'Назад', mains_path %>
</div></div></div></div>