<div class="row">   
                    <div class="col-lg-12">
                    
<h1 class="page-header">Список записей</h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <%= link_to "Админка", admin_path %>
                            </li>
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Записи
                            </li>
                        </ol>
<div class="row">
                    <div class="col-lg-12">
<div class="table-responsive">   

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Название</th>
      <th>Slug</th>
      <th>meta Description</th>
      <th>meta Keywords</th>
      <th>Пункт меню</th>
      <th>Картинка</th>
      <th>Контент</th>
	    <th>Рубрика</th>
      <th>Адрес</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.slug %></td>
        <td><%= post.description %></td>
        <td><%= post.keywords %></td>
        <td><%= post.punktmenu %></td>
        <td><%= image_tag post.image %></td>
        <td><%= post.body %></td>
		    <td><%= item_parent(post.network_id) %></td>
        <td><%= post.address %></td>
        <td><%= link_to 'Просмотр', post %></td>
        <td><%= link_to 'Изменить', edit_post_path(post) %></td>
        <td><%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая запись', new_post_path %>
</div></div></div></div>