<div class="row">   
                    <div class="col-lg-12">
                    
<h1 class="page-header"><%= @category.title %></h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <%= link_to "Админка", admin_path %>
                            </li>
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <%= link_to "Категории", categories_path %>
                            </li>
                            <li class="active">
                                <i class="fa fa-dashboard"></i> <%= @category.title %>
                            </li>
                        </ol>
<div class="row">
<div class="col-lg-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @category.slug %>
</p>

<p>
  <strong>meta Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>meta Keywords:</strong>
  <%= @category.keywords %>
</p>

<p>
  <strong>Пункт меню:</strong>
  <%= @category.punktmenu %>
</p>

<p>
  <strong>Картинка:</strong>
  <%= @category.image %>
</p>

<p>
  <strong>Контент:</strong>
  <%= @category.body %>
</p>

<%= link_to 'Изменить', edit_category_path(@category) %> |
<%= link_to 'Назад', categories_path %>
</div></div></div></div>